   
        
    h1{
        color: black;
    }

    #chance{
     border: #61e21b;
     border-radius: 5px;
     color: white;
     background-color: rgb(235, 21, 156);
    }

    .welcome{
        font-size: 2.5rem;
    }
    #XO{
        font-size:2rem;
    }
    #text{
        font-size: 2rem;
        display: inline-block;
        border: 2px solid white;
       color: white;
        background-color: blueviolet;
        
      
    }
    .grid{
        
        border: 5px solid rgb(13, 255, 0);
        height:50rem;
        background-image:url('../images/bg-img1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box{
        display: inline-block;
        background-color: cornsilk;
    }

    .square {
       width: 80px;
       height: 50px;
        font-size: 60px;
        text-align: center;
        color: #61e21b;
        font-weight: bolder;
        padding: 30px;
        
    }
    .welcome{
        display: inline-block;
        background-color: antiquewhite;
        border-radius: 15px;
    }

    
.row  {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.b-top {
    border-left: 15px solid rgb(15, 218, 22);
    border-top: 15px solid rgb(245, 12, 12);
    border-right: 15px solid rgb(245, 12, 12);
    border-bottom: 15px solid rgb(245, 12, 12);
}
#restart_btn{
    height: 5%;
    width: 8%;
    background-color: blue;
    color: aliceblue;
    border-radius: 5px;
}
